* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
}

button {
  background: #222;
  color: white;
  border: none;
  padding: 12px;
  margin: 6px 0;
  width: 100%;
  font-size: 18px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: #111;
  color: white;
  border: 1px solid #333;
}
